@import "settings";
@import "../foundation/scss/foundation";
@import "twentytwenty";

body {
  background: #eee;
}

.about-pic {
  margin:auto;
  max-width: 400px;

  img  {
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   border-radius:50%;
  width:400px;
  height:400px;
}
}

/**** GALLERY */

.g {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin:0;
    padding: 0;
    position: relative;
    margin-bottom: 2rem;

    img {
      margin: 0;
    }

    .caption {
      position: absolute;
      border: 2px solid #fff;
      width: 100%;
      bottom:0;
      background: rgba(255, 255, 255, 0.9); 
      opacity: 0;
      transition: all 0.3s ease-in;
      padding: 1rem;
    }

    &:hover {
      .caption {
        opacity: 1;
      }
    }
  }
}

/**** Fullbleed */
.fb {
  position: relative;
  max-width: 1400px;
  margin: auto;

  img {
    border-radius: 0;
  }

  .title-container {
    position: static;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    top: 1rem;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;;
    background: rgba(0,0,0, .5);

    @include grid-column(
      // Control the number of columns
      $columns:10,
      $push:1,
      $center:true,
      $collapse:false
    );

    @media #{$medium-up}  {
      position: absolute;
    }
      
    h1 {
      font-size: 1.8rem;
      bottom: 1.8rem;
      color: #eee;
      text-shadow: 1px 1px 2px #000;
      font-family: "Oxygen", Helvetica, sans-serif;
    }

    h4 {
      font-size: 1.2rem;
      color: #fff;
    }
    .comment-count {
      position: absolute;
      right:1.25rem;
      bottom: 1.25rem;
      background: rgba(0,0,0, .6);
      color: #eee;
      font-size: 22px;

      a {
        color: #eee;
      }
    }
  }
}

.container.content {
  clear: both;
  background: #fff;
  
  @include grid-row($behavior: collapse);
  margin: auto;
  position: relative;

  @media #{$medium-up}  {
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
  }
}

.inner-wrap {
  height: 100%;
}

aside{
  img{
    border-radius:0;
  }
}

.post {
  margin-top: 1rem;
  
  @include grid-column(
    // Control the number of columns
    $columns:12,
    $center:true,
    $collapse:false
  );
  @media #{$medium-up}  {
    @include grid-column(
      // Control the number of columns
      $columns:10,
      $push:2,
      $center:true,
      $collapse:false
    );
  }

  .post-date {
    position: absolute;
    right: .5rem;
    top: .5rem;
    font-size: .8rem;
  }
}

.related,
.comments {
  @include grid-column(
    $columns:10,
    $push: 2
  );
}