<!-- Team Section -->
    <section id="pics" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Latest photo sets</h2>
                    <h3 class="section-subheading text-muted">Click to view photo sets. Browse with your mouse or arrow keys</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                {% picasa_album https://picasaweb.google.com/data/feed/base/user/101036522831333817858/albumid/6102031005443197265?alt=rss&kind=photo&hl=en_US&imgmax=1600u %}
              </div>
              <div class="col-md-4 col-sm-6">
                {% picasa_album https://picasaweb.google.com/data/feed/base/user/101036522831333817858/albumid/5942819718728731169?alt=rss&kind=photo&hl=en_US&imgmax=1600u %}
              </div>
              <div class="col-md-4 col-sm-6">
                {% picasa_album https://picasaweb.google.com/data/feed/base/user/101036522831333817858/albumid/5896617441918734577?alt=rss&kind=photo&hl=en_US&imgmax=1600u %}
              </div>
            </div>
        </div>
    </section>
